{{ set(this, 'title', 'CatBasic') }}

<div class="main">
  <ul class="cards">
      {% for cat in cats %}
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="{{ cat.url }}"></div>
                <div class="card_content">
                <h2 class="card_title">Card Grid Layout</h2>
                <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                <button class="btn card_btn">Read More</button>
                </div>
            </div>
        </li>
    {% else %}
        No cats have been found.
    {% endfor %}
  </ul>
</div>